*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'open sans';
}

/*------------------------------|HEADER|------------------------------*/
header{
	display: flex;
	height: 600px;
	width: 100%;
	flex-direction: column;

	background: linear-gradient(to right, hsla(340, 95%, 50%, 0.452), 
		hsla(317, 45%, 52%, 0.576)), 
		url(img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
#div_barra_de_navegacion{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0 0 6px rgba(0,0,0, 0.5);
}
header img{
	height: 80px;
}
#div_barra_de_navegacion nav{
	display: flex;
	align-items: center;
	height: 80px;

}

#div_barra_de_navegacion nav a{
	color: white;
	justify-content: right;
	text-align: right;
	margin-right: 17px;
	text-decoration: none;
	font-weight: 300;
}
#div_barra_de_navegacion nav a:hover{
	text-decoration: underline;
}
/*--------------------|DIV TITULOS|--------------------*/
#div_titulos_header{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
}
#div_titulos_header h1{
	font-size: 70px;
   	color: white;
}

#div_titulos_header h2{
	font-size: 35px;
	color: white;
	font-weight: 300;
}
/*---------------------------------||---------------------------------*/


/*------------------------------|TITULOS|------------------------------*/
.div_titulos{
	display: flex;
	flex-direction: column;
	color: orange;
	text-align: center;
	justify-content: center;
	margin: auto;
}
.div_titulos h3{
	font-size: 33px;
	color: orange;
	padding: 10px 0;
}
.div_titulos p{
	font-size: 17px;
	border-bottom-style: solid;
	border-bottom-color: orange;
	font-weight: 300;
	margin-bottom: 50px;

}
/*---------------------------------||---------------------------------*/


/*--------------------------|NUESTRO EQUIPO|--------------------------*/
#section_nuestro_equipo{
	background-color: white;
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: auto;
}

#div_contenedor_perfiles{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	margin: auto;
	justify-content: space-evenly;
}
#div_contenedor_perfiles div{
	width: 30%;
}

.perfiles{
	box-shadow: 0 0 16px rgba(0,0,0, 0.5);
	margin-bottom: 10px;
}
.perfiles img{
	width: 100%;
	height: 80%;
	object-fit: cover;
}
.perfiles p{
	color: orange;
	font-weight: 300;
	padding: 10px 10px;
}

/*---------------------------------||---------------------------------*/


/*------------------------|NUESTROS SERVICIOS|------------------------*/

#section_nuestros_servicios{
	background-image: url("img/teclado.jpg");
	padding: 60px 0;
	display: flex;
	flex-direction:  column;
	align-items: center;
}
#contenedor_nuestros_servicios{
	width: 90%;
	display: flex;
	flex-direction:  column;
	align-items: center;

}
#div_contenedor_servicios{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: center;
}
#div_contenedor_servicios span{
	color:  white;

}
#div_contenedor_servicios p{
	color: orange;
	font-weight:  300;
}
.div_servicios{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
}
.div_servicios img{
	width: 64px;
}
/*---------------------------------||---------------------------------*/


/*--------------------------|NUESTRO TRABAJO|--------------------------*/

#section_nuestro_trabajo{
	width: 90%;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: auto;
	padding: 60px 0;
}
#div_botones{
	display:flex;
	flex-direction:row;
	text-align: center;
	margin: auto;
}
#div_botones ul{
	display:flex;
	flex-direction: row;
	margin:auto;
	text-align: center;
	margin-bottom: 30px;
}
#div_botones ul li {
	list-style: none;
	border-style: solid;
	border-color: orange;
	border-width: 1px;
	color: orange;
	padding: 7px 7px;
	display: inline-block;
	margin-right: 20px;

}

#div_contenedor_imagenes_areas{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
}
.div_imagenes_areas{
	width: 30%;
	height: 300px;
	display: flex;
	flex-direction: column;
	margin: auto;
	box-shadow: 0 0 16px rgba(0,0,0, 0.5);
	margin-bottom: 30px;
	text-align: center;
}
.div_imagenes_areas img{
	height: 90%;
	width: 100%;
	object-fit: cover;
}
.div_imagenes_areas p{
	font-weight:  300;
	padding: 5px 0;
}
/*---------------------------------||---------------------------------*/
